In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'data/used_car_dataset.csv')

In [4]:
print(df.shape)

(9997, 14)

In [5]:
df.head()

,price,year,manufacturer,condition,cylinders,fuel,odometer,transmission,type,paint_color,F1,F2,F3,F4
0,21978.0,2016.0,ford,like new,6 cylinders,gas,80813.0,automatic,SUV,black,138,2.472286,0.059031,b
1,4185.0,2008.0,ford,good,8 cylinders,gas,201800.0,automatic,SUV,white,415,2.285245,0.046328,c
2,7693.0,2002.0,ford,excellent,6 cylinders,gas,145000.0,automatic,pickup,white,535,1.861461,0.158554,b
3,15778.0,2016.0,ford,excellent,4 cylinders,gas,50103.0,automatic,sedan,white,3435,2.331671,0.213665,c
4,10520.0,2005.0,ford,good,8 cylinders,gas,207663.0,automatic,truck,white,1212,2.061082,0.388724,b

In [6]:
df.describe()

,price,year,odometer,F1,F2,F3
count,9997.000000,9997.000000,9.305000e+03,9997.000000,9997.000000,9997.000000
mean,14233.961989,2009.817345,1.139147e+05,1534.257377,2.224515,0.100247
std,12595.955311,8.847370,1.306907e+05,2138.048191,0.226997,0.100804
min,0.000000,1922.000000,0.000000e+00,4.000000,0.167352,-0.313948
25%,5594.000000,2007.000000,6.702100e+04,308.000000,2.131407,0.030308
50%,10333.000000,2012.000000,1.110000e+05,698.000000,2.255297,0.101295
75%,19389.000000,2015.000000,1.512140e+05,2013.000000,2.361656,0.167654
max,402498.000000,2021.000000,9.999999e+06,36773.000000,2.728576,0.526848

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9997 entries, 0 to 9996
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         9997 non-null   float64
 1   year          9997 non-null   float64
 2   manufacturer  9997 non-null   object
 3   condition     9997 non-null   object
 4   cylinders     9997 non-null   object
 5   fuel          9997 non-null   object
 6   odometer      9305 non-null   float64
 7   transmission  9997 non-null   object
 8   type          9997 non-null   object
 9   paint_color   9997 non-null   object
 10  F1            9997 non-null   int64
 11  F2            9997 non-null   float64
 12  F3            9997 non-null   float64
 13  F4            9997 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 1.1+ MB