In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
from scipy.stats import binned_statistic 

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import auc
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import make_pipeline

import statsmodels.api as sm 
from statsmodels.base.model import GenericLikelihoodModel

In [3]:
test = pd.read_csv(r'data/test.csv')
safe = pd.read_csv(r'data/safe.csv')
unsafe = pd.read_csv(r'data/unsafe.csv')
test.shape, safe.shape, unsafe.shape

((50, 2), (100, 2), (200, 2))

In [4]:
# safe.head()
test.head()

   class         X
0      0  1.649240
1      0  1.475661
2      0  1.279821
3      0  0.604183
4      0  1.350892

In [5]:
test['class'].value_counts()

0    25
1    25
Name: class, dtype: int64

In [6]:
safe.describe()
# round(safe.max(),4)

       class           X
count  100.0  100.000000
mean     1.0    1.873446
std      0.0    0.275332
min      1.0    1.425014
25%      1.0    1.624757
50%      1.0    1.884341
75%      1.0    2.080559
max      1.0    2.361635

In [7]:
unsafe.describe()
# round(unsafe.max(),4)

       class           X
count  200.0  200.000000
mean     0.0    0.910473
std      0.0    0.428579
min      0.0    0.213738
25%      0.0    0.576824
50%      0.0    0.842651
75%      0.0    1.280218
max      0.0    1.695907

In [8]:
df_concat = pd.concat([safe, unsafe], axis=0)  ## stack the 2 dfs on top of each other to combine into 1
df_concat.shape

(300, 2)

In [9]:
scaler = make_pipeline(MinMaxScaler())
df_norm = scaler.fit_transform(df_concat) ## arr of normalized data

In [10]:
df_concat['X']

0      1.983618
1      1.972120
2      1.993556
3      1.628395
4      1.965425
         ...
195    0.597829
196    0.775236
197    1.312605
198    1.277493
199    0.254671
Name: X, Length: 300, dtype: float64

In [11]:
# plt.hist(df_concat['X'], density=True)